 @import url("https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap");

.header-container {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul{
    margin: 30px;
}

.header-part-container {
  background-color: hsl(217, 28%, 15%);
  height: 20vh;

  display: flex;
  justify-content: space-between;

}
.intro-image{
    height: 400px;
}

.nav-links {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}


.nav-bar-container{
    display: flex;
    justify-content: center;
}
.logo{
    height: 35px;
}

.intro-container{
    text-align: center;
    padding: 20px;
}

.intro-container > h4{
    line-height: 35px;
    margin-top: 30px;
}
.intro-container > p{
    line-height: 30px;
    margin-top: 25px;
}

#btn{
    border: none;
    background-color: hsl(176, 68%, 64%);
    width: 210px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);

}

.main-container{
    background-color: hsl(217, 28%, 15%);
    color: hsl(0, 0%, 100%);

}
.middle-part{
    display:grid;
    grid-template-columns:repeat(2,420px);
    grid-template-rows:repeat(2,300px);
    text-align: center;
    justify-content: space-evenly;
    padding: 100px;
    background-color:  hsl(218, 28%, 13%);
    color: hsl(0, 0%, 100%);

}
.middlepart2{
    display: flex;
    text-align: start;
    justify-content: space-evenly;
    background-color:  hsl(218, 28%, 13%);
    color: hsl(0, 0%, 100%);
}
.productive{
    align-content: center;
}
.fylo-works{
    text-decoration: none;
    color: hsl(176, 68%, 64%);
    border-bottom: 1px solid  hsl(176, 68%, 64%);
    padding-bottom: 2px;
}
.bg-quotes{
    background-color:  hsl(218, 28%, 13%);
    position: absolute;
    top: 2282px;
    left: 162px;
    


}
.box1{
    padding: 20px;
    height:230px;
    width: 350px;
    /* border: 1px solid black; */
    background-color: hsl(219, 30%, 18%);
    color:hsl(0, 0%, 100%);
    z-index: 1;
    border-radius: 5px;

}
.box2{
    padding: 20px;
    height:230px;
    width: 350px;
    /* border: 1px solid black; */
    background-color: hsl(219, 30%, 18%);
    color:hsl(0, 0%, 100%);
    border-radius: 5px;

}
.box3{
    padding: 20px;
    height:230px;
    width: 350px;
    /* border: 1px solid black; */
    background-color: hsl(219, 30%, 18%);
    color:hsl(0, 0%, 100%); 
    border-radius: 5px;

}
.testimonial{
    display: flex;
    justify-content: space-evenly;
    background-color:  hsl(218, 28%, 13%);
    padding: 110px;
    padding-bottom: 400px;
    padding-top: 200px;
    
}
.profile1{
    height: 50px;
    border-radius: 100px;
    margin-top: 10px;

}
.profilename1{
    padding-left: 20px;
    margin-top: 10px;
}
.profile2{
    height: 50px;
    border-radius: 100px;
    margin-top: 10px;

}
.profilename2{
    padding-left: 20px;
    margin-top: 10px;
}
.profile3{
    height: 50px;
    border-radius: 100px;
    margin-top: 10px;

}
.profilename3{
    padding-left: 20px;
    margin-top: 10px;
}
.getearlyaccess{
    padding-top: 30px;
    height:250px;
    width: 850px;
    /* border: 1px solid black; */
    background-color:  hsl(217, 28%, 15%);
    color:hsl(0, 0%, 100%);
    text-align: center;
    align-content: center;
    position: absolute;
    top: 2800px;
    right: 350px;
    
    
}
#email{
    height: 45px;
    width: 500px;
    border-radius: 50px;
    margin-right: 10px;
}
#btn2{
    border: none;
    background-color: hsl(176, 68%, 64%);
    width: 210px;
    padding:10px;
    margin-left: 30px;
    border-radius: 30px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);

}
.logo2{
    height: 35px;
}

footer{
   background-color:  hsl(216, 53%, 9%);
   padding-top: 150px;
   padding-bottom: 100px;
   color: hsl(0, 0%, 100%) ; 
   
}
.locationimage{
    width: 20px;
    height: 20px;
}
.lorem{
    width: 620px;
    padding-left: 20px;
}
.footer1{
    padding-top: 20px;
}
.footer-container{
    padding-left: 30px;
}
ul{
    list-style-type: none;
}



